@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/bold/Gilroy-Bold.eot');
    src: url('../fonts/bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/bold/Gilroy-Bold.woff') format('woff'),
    url('../fonts/bold/Gilroy-Bold.ttf') format('truetype'),
    url('../fonts/bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/medium/Gilroy-Medium.eot');
    src: url('../fonts/medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/medium/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/medium/Gilroy-Medium.woff') format('woff'),
    url('../fonts/medium/Gilroy-Medium.ttf') format('truetype'),
    url('../fonts/medium/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/regular/Gilroy-Regular.eot');
    src: url('../fonts/regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/regular/Gilroy-Regular.woff') format('woff'),
    url('../fonts/regular/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/regular/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/semibold/Gilroy-SemiBold.eot');
    src: url('../fonts/semibold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/semibold/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/semibold/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/semibold/Gilroy-SemiBold.ttf') format('truetype'),
    url('../fonts/semibold/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DsDigital/DS-Digital-Bold.eot');
    src: url('../fonts/DsDigital/DS-Digital-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DsDigital/DS-Digital-Bold.woff2') format('woff2'),
    url('../fonts/DsDigital/DS-Digital-Bold.woff') format('woff'),
    url('../fonts/DsDigital/DS-Digital-Bold.ttf') format('truetype'),
    url('../fonts/DsDigital/DS-Digital-Bold.svg#DS-Digital-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
    background: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.socks {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.sock:hover .sock-text {
    opacity: 1;
}
.sock-s img {
    width: 100px;
}
.modal-first {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-first.disabled {
    display: none;
}
.modal-first-window {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    height: 650px;
    background-color: #FFEFE4;
    padding: 59px 90px 32px 105px;
    outline: 17px dashed #FF2F2F;
    overflow: auto;
    overflow-x: hidden;
}
.modal-first-container {
    padding: 17px;
    background: #4D8650;
    width: 1200px;
    z-index: 2;
    font-family: Gilroy, sans-serif;
    border-radius: 20px;
    overflow: hidden;
}
.modal-first-wrapper {
    width: 651px;
    margin: 0 auto;
}
.modal-first-btn-close {
    position: absolute;
    z-index: 2;
    margin-left: 1088px;
    margin-bottom: 582px;
    background: none;
    border: none;
    cursor: pointer;
}
.modal-first-image {
    border-radius: 15px;
    margin-top: 24px;
    margin-bottom: 24px;
    min-width: 100%;
}
.modal-first-title {
    font-size: 33px;
    max-width: 691px;
    text-align: center;
    font-weight: 600;
}
.modal-first-text {
    font-weight: normal;
    font-size: 17px;
    max-width: 627px;
}
.overlay-first {
    opacity: 1;
}
.first-modal-socks {
    display: flex;
    align-items: center;
    width: 428px;
    margin: 44px auto 36px auto;
}
.modal-first-text2 {
    max-width: 627px;
}
.modal-first-text3 {
    font-weight: 700;
    margin-top: 34px;
}
.modal-first-button {
    display: block;
    width: 554px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: #4D8650;
    border-radius: 10px;
    text-align: center;
    padding: 25px 86px 21px;
    margin: 70px auto 0 auto;
    border: 3px solid transparent;
    transition: .3s;
}
.modal-first-button:hover {
    box-shadow: 0 12px 39px 21px rgba(77, 134, 80, 0.2);
}

.main-section {
    background-repeat: no-repeat;
    background-size: auto;
    width: 1440px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 73px;
}
.main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1341px;
    margin: 0 auto;
}
.main-sounds {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}
.main-sounds > * {
    cursor: pointer;
}
.main-timer {
    width: 188px;
    height: 75px;
    margin-left: auto;
    margin-right: 300px;
    color: white;
    margin-top: 114px;
    font-family: DS-Digital, sans-serif;
    display: flex;
}
/*.main-socks .voted {*/
/*    transform: scaleY(130%)*/
/*}*/
.main-socks {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 980px;
    padding-top: 0;
    margin-left: 259px;
}
.main-fire {
    width: 138px;
    height: 155px;
    margin-left: 663px;
    margin-top: 138px;
    cursor: pointer;
}
.main-fire-cat {
    display: flex;
}
.main-cat {
    width: 192px;
    height: 140px;
    margin-top: 183px;
    margin-left: 273px;
    cursor: pointer;
}
.main-sock {
    cursor: pointer;
    transition: .3s;
}
.main-sock:hover {
    transform: scale(1.2);
}

.main-sock-wrapper:hover .main-sock-text-container {
    display: flex;
}

.main-sock-text-container {
    position: absolute;
    width: 320px;
    height: 169px;
    align-items: center;
    justify-content: center;
    display: none;
    margin-left: -120px;
    margin-top: -200px;
}

.main-sock-text-dots {
    position: absolute;
    top: 16px;
    left: 16px;
}
.main-sock-text {
    margin-left: 4px;
    margin-top: -10px;
}
.main-sock-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.main-sock-desc {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 252px;
    margin-top: 8px;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 20px;
    overflow: hidden;
}
.modal-window-container {
    position: absolute;
    z-index: 2;
    border-radius: 36px;
    margin-top: -823px;
}
.modal.active {
    display: flex;
}
.modal-window {
    position: relative;
    z-index: 2;
    background: #FFEFE4;
    width: 1200px;
    height: 650px;
    overflow: auto;
    padding-top: 51px;
    padding-bottom: 27px;
    border-radius: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 0;
}
.modal-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 33px;
    text-align: center;
}
.modal-img {
    margin: 15px auto 0 auto;
    width: 829px;
    height: 341px;
    border-radius: 15px;
}
.modal-desc {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 17px;
    max-width: 627px;
    margin: 24px auto 0 auto;
}
.modal-subtitle {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.modal-btns-wrapper {
    margin: 22px auto 0 auto;
    display: flex;
    align-items: center;
    width: 524px;
}
.modal-btn-one {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    background: #4D8650;
    padding: 25px 56px 21px 57px;
    border-radius: 10px;
    transition: .3s;
}
.modal-btn-one:hover {
    box-shadow: 0 12px 39px 21px rgba(77, 134, 80, 0.2);
}
.modal-qr-code {
    margin-left: 56px;
}
.modal-qr-text {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 17px;
    color: #929292;
    margin-left: -17px;
}
.modal-head {
    position: absolute;
    top: -70px;
    left: 0;
    display: flex;
    align-items: center;
}
.modal-socks-container {
    width: 349px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-socks {
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-left-votes {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 585px;
}
.modal-left-vote-text {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.modal-left-vote-imgs {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-sock, .modal-prev, .modal-next {
    cursor: pointer;
}
.btn-close {
    background: none;
    border: none;
    position: absolute;
    top: 69px;
    right: -36px;
    cursor: pointer;
}
.modal-btns-message-btns {
    width: 267px;
    margin: 14px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-btns-message-btn {
    display: block;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
}
.modal-btns-message-btn:nth-child(1) {
    background: #4D8650;
}
.modal-btns-message-btn:nth-child(2) {
    background: #FF2F2F;
}
.modal-dots {
    position: absolute;
    top: 16px;
    left: 16px;
}
.modal-btns-message-wrapper {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 311px;
    height: 155px;
    margin-top: -221px;
    margin-left: 222px;
    display: none;
}
.modal-btns-message-wrapper.active {
    display: flex;
}
.modal-btns-message-text {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 18px;
    max-width: 220px;
    text-align: center;
    margin: -17px auto 0 auto;
}
.modal-message-content-disabled{
    display: none;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}
.loader:before, .loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #4D8650;
}

.loader:before{
    z-index: 100;
    animation: spin 1s infinite;
}

.loader:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.preloader {
    display: none;
    margin-top: -15px;
}
.preloader.active {
    display: block;
}

.results {
    background-repeat: no-repeat;
    width: 1440px;
    height: 858px;
    margin: 0 auto;
    padding-top: 86px;
}
.results-bottom {
    position: absolute;
    margin-top: 27px;
}
.result-logo {
    position: absolute;
    z-index: 2;
    margin-left: 31px;
    margin-top: -65px;
}

.result-item {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 37px 32px 30px 33px;
    display: block;
    width: 272px;
    height: 435px;
}
.results-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    height: 605px;
    overflow: auto;
    margin: 30px auto 0 auto;
}
.result-item-img {
    margin: 0 auto;
}
.result-item-votes {
    text-align: center;
}
.result-item:not(:nth-child(3n+3)) {
    margin-right: 20px;
    margin-bottom: 20px;
}
.results-christmas-tree {
    position: absolute;
    margin-top: -763px;
}
.results-floor {
    position: absolute;
    margin-top: -8px;
}
.results-presents {
    position: absolute;
    margin-top: -110px;
}
.results-armchair {
    position: absolute;
    margin-left: 1171px;
    margin-top: -294px;
}
.results-content-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 58px;
    text-align: center;
    color: #fff;
}
.result-item-img img {
    width: 55px;
    margin: 0 auto;
}
.result-item-votes {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 53px;
    text-align: center;
    margin-top: 23px;
}
.result-item-votes-text {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 13px;
}
.result-item-title {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 19px;
}
.result-item-btn {
    position: absolute;
    bottom: 50px;
    display: block;
    margin-left: 13px;
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    background: #4D8650;
    padding: 19px 57px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    max-width: 181px;
    height: 62px;
    border: 1px solid #4D8650;
    transition: .3s;
}
.result-item-btn:hover {
    background: none;
    color: #4D8650;
    border: 1px solid #4D8650;
}
.time-days, .time-hours, .time-minutes {
    font-size: 47px;
    color: #23FF2F;
}
.main-timer-name {
    max-width: 159px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-days-text, .time-hours-text, .time-minutes-text {
    font-size: 13px;
    text-transform: uppercase;
}
.main-timer div span {
    display: block;
}
.main-timer div:not(:last-of-type) {
    margin-right: 5px;
}

.mobile-main {
    background: #FFEFE4;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.mobile-main-img {
    width: 80px;
    margin: 0 auto;
}
.mobile-main-text {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 18px;
    max-width: 342px;
    text-align: center;
    margin: 45px auto 0 auto;
}
.main-christmas-tree {
    position: absolute;
    width: 247px;
    height: 790px;
    cursor: pointer;
}
.main-christmas-tree-2 {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 790px;
}

@media (max-width: 1000px) {
    .main {
        display: none;
    }
    .mobile-main {
        display: flex;
    }
}

.main-slides {
    display: flex;
    border-radius: 20px;
    max-width: 1200px;
    overflow-x: hidden;
    background: #4D8650;
    border: 17px dashed #FF2F2F;
}
.modal-window {
    min-width: 1200px;
    transition: .5s;
}
.completed-message {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    background: #ffe9da;
    border-radius: 15px;
    border: 5px solid #4D8650;
}
.main-turntable {
    width: 200px;
    height: 64px;
    position: absolute;
    margin-left: 334px;
    margin-top: 138px;
    cursor: pointer;
}
.dot {
    width: 10px;
    height: 5px;
    margin-left: 12px;
    margin-top: 49px;
    background: #000;
}
.dot.active {
    display: none;
}
.fire-item {
    position: absolute;
}
.fire-item:nth-child(1) {
    margin-top: 41px;
    margin-left: 33px;
}
.fire-item:nth-child(2) {
    margin-top: 28px;
    margin-left: 46px;
}
.fire-item:nth-child(3) {
    margin-top: 18px;
    margin-left: 37px;
}
.fire-item:nth-child(4) {
    margin-top: 9px;
    margin-left: 64px;
}
.fire-item:nth-child(5) {
    margin-top: 19px;
    margin-left: 94px;
}
.fire-item:nth-child(6) {
    margin-top: 35px;
    margin-left: 95px;
}
.fire-item:nth-child(7) {
    margin-top: 53px;
    margin-left: 108px;
}
.main-fire.active > .fire-item {
    animation-name: fire;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

@keyframes fire {
    0% {
        transform: scale(90%);
    }

    50% {
        transform: scale(120%);
    }

    100% {
        transform: scale(90%);
    }
}

.cat-tail {
    margin-top: 73px;
    margin-left: 106px;
    transform-origin: top right;
}
.main-cat.active .cat-tail {
    animation-name: cat-tail;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes cat-tail {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.results-head {
    position: absolute;
    top: 0;
    z-index: 3;
}
